


@media (width > 767px) {




    main{
        align-items: start;
    }

    .group1{
        column-gap: 350px;
        margin-left: 39px;
    }


    .button1, .button2{
        width: 175px;
        height: 58px;
    

    }


    .group2{
        flex-direction: row;
        column-gap: 69px;
    }

    .bm5{
        display: none;
    }
    .bm8{
        display: flex;
        position: relative;
        width: 335px;
        height: 405px;
        
    }

    .gtext2{
        margin-left: 39px;
        row-gap: 34px;
        width: 339px;
    }

    .reo527{
        width: 127px;
    }


    .group4{
        column-gap: 30.5px;
        margin-left: 34px;
    }


    .bm6{
        width: 214px;
        height: 320px;
    }


    .bm7{ 
        width: 445px;
        height: 320px;

    }


    .group5{
        flex-direction: row;
        margin-right: 40px;
        margin-left: 39px;
    }


    .mwk{
        text-align: start;
    }

    .mwk1{
        text-align: start;
        width: 398px;
    }


    .group6{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 72px;
        column-gap: 69px;
        margin-left: 39px;
    }


    .hc{
        align-items: start;
      
    }

    .hico, .hicoo{
        text-align: start;
    }

    .hico1{
        text-align: start;
        width: 281px;
    }

    .last{
        margin-top: 182px;
        margin-left: 247px;
        margin-bottom: 43px;
    }
}





@media (width > 1439px) {

    main{
        align-items: flex-start;
        width: 1440px;
        margin-left: 0;
    }

    .group1{
        column-gap: 755px;
        margin-left: 165px;
        
    }


    .group2{
        margin-left: 125px;
        column-gap: 0px;
        
    }

    .gtext2{
        row-gap: 24px;
        width: 445px;
        
    }
    
    .typemaster, .typemaster1{
        width: 445px;
    }
    .typemaster{
        font-size: 56px;
    }
    .typemaster1{
        font-size: 18px;
    }
    
    .abgd{
        margin-top: 16px;
    }


    .bm8{
        display: none;
    }

    .bm5{
        display: inline;
        width: 540px;
        height: 480px;
        margin-left: 125px;
       
    }

    .g3c4{
        display: flex;
        width: 185px;
        height: 240px;
        
        margin-bottom: 100px;
        
    }

    .bm6{
        width: 255px;
        height: 480px;

        

    }

    .bm7{
        width: 445px;
        height: 480px;

    }

    .group3{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 125PX;
        margin-left: 0px;
    }


    .group4{
        column-gap: 30px;
        margin-left: 0px;
    }


    .group5{
        flex-direction: column;
    }


    .mwk{
        width: 255px;
        color: #162542;
        font-family: "Barlow";
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px; /* 112.5% */
        text-transform: uppercase;

    }


    .mwk1{
        width: 255px;
        color: #7B8BAD;
        font-family: "Barlow";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 162.5% */
    }
    



 
    .g3c3{
        display: flex;
        width: 130px;
        height: 236px;
        padding-left: 0px;
        margin-top: 150px;
    }


    .group6{
        grid-template-columns: auto auto auto auto;
        margin-top: 168px;
        margin-left: 165px;
    }


    .hico1{
        width: 255px;

    }



    .last{
        margin-left: 568px;
    }




}